{% extends './base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="container-title">
      <h1 class="content-header">
        Research on BPM-Supported Enterprise Social Network Intelligence Frameworks
      </h1>
      {% comment %} <h1 class="content-header">
        Supported by Bigdata-Mining and Deep-Learning Technologies
      </h1> {% endcomment %}
      <img class="header-img" src="{% static 'indexpage/img/base_on_bpm_Image1.png' %}" alt=""/>
    </div>
    <div class="divider"></div>
    {% comment %} <div class="content">
      <div class='sub-content'>
        <img class="content-img" src="{% static 'indexpage/img/Image2.png' %}" alt=""/>
      </div>
      <div class="content-des">
        <ul>
          <li>[연구 목표]</li>
          <p>
            프로세스 라이프사이클 유지보수에 있어서 선제적으로 대처하는 프로엑티브 프로세스 관리 에코시스템을 구현하고자 빅데이터 마이닝 기반의 프로세스 발견 기술과 딥러닝 기반의 프로세스 예측 기술을 융합한 차세대 비즈니스 인텔리전스(BI: Business Intelligence)기술 개발하여 ‘프로엑티브 비피엠기반 엔터프라이즈’라는 새로운 기업정보시스템의 발전 모델 구축
          </p>
          <li>[연구 목적]</li>
          <p>
            많은 기업과 조직들이 프로세스기반 정보시스템(PAIS, Process-aware infromation system)의 중요성과 필요성을 인식하면서 워크플로우 및 비즈니스 프로세스 관리 시스템을 핵심기술로 하는 프로세스기반 정보시스템이 급속히 증가하고 있으며, 이와 함께 엔터프라이즈 전체의 업무 프로세스 처리 및 그에 따른 초대용량의 이력정보를 확보할 수 있게 되면서 프로세스 분석의 중요성이 대두됨 과거 연구가 엔터프라이즈 정보시스템의 실행이력으로 구성되는 이벤트로그 빅데이터로부터 마이닝 기술을 통해 과거의 프로세스기반 협업행위를 발견하는 것에서 발전하여, 본 연구에서는 최근 관심이 증폭되고 있는 딥러닝 기술을 통해 미래의 프로세스 예측 모델을 제공함으로써 업무프로세스 뿐만아니라 업무수행자 줌심의 업무행위관계, 자원배분관계, 정보확산관계 지식을 선제적으로 예측 발견하여, 프로세스 모델의 라이프사이클 유지관리와 자원할당 리엔지니어링 분야에 있어서 신기술에 장을 열고자 함
          </p>

          <li>[연구 내용]</li>
          <p>
            프로세스 발견 프로세스 실행이력 빅데이터의 시계열 빅로그 전처리를 전처리하고 이로부터 정보제어넷 기반 프로세스 모델을 마이닝을 통해 발견함으로써, 업무 프로세스 모델의 라이프사이클 관리를 위한 재설계/리엔지니어링과 자원할당에 대한 재계획/재배치에 활용 IEEE에서 발표한 이벤트 스트림 로그 국제표준포맷인 XES(XML Event Stream)기반의 시계열 실행 이벤트 로그 빅데이터세트로부터 순차적, 선택적, 병렬적, 반복적 유형의 제어흐름과 그에 따른 각 액티비티의 실행에 적용된 다양한 자원속성 마이닝
          </p>
        </ul>
      </div>
    </div> {% endcomment %}

    <div class="content-2">
      <div class="content-img">
        {% comment %} <img class="content-img" src="{% static 'indexpage/img/base_on_bpm_Image1.png' %}" alt=""/> {% endcomment %}

        <img class="content-img" src={% static 'indexpage/img/base_on_bpm_Image2.png' %} alt=""/>
      </div>
     <div class="content-des">
      <ul>
        <li>[연구 목표]</li>
        <p>
          비즈니스의 구성원들이 프로세스 기반의 업무를 수행하는 초대형 비피엠 시스템으로부터 생성되는 거대한 양의 실행이력 데이터를 ‘비피엠 기반 엔터프라이즈 빅데이터’라고 정의하고, ‘비피엠기반 엔터프라이즈 소셜네트워크’ 개념으로 정의되는 인간중심의 지식, 즉 업무행위관계 지식, 자원배분관계 지식, 정보확산관계 지식을 효과적으로 표현, 발견/재발견, 분석, 가시화할 수 있는 ‘비피엠기반 엔터프라이즈 소셜네트워크 인텔리전스 프레임워크’를 개발
        </p>
        <li>[연구 목적]</li>
        <p>
          <ul>
            <li>
              많은 기업과 조직들이 프로세스기반 정보시스템(PAIS, Process-Aware Information System)의 중요성과 필요성을 인식하면서 워크플로우 및 비즈니스 프로세스 관리시스템을 핵심기술로 하는 프로세스기반의 정보시스템의 적용사례가 증가하고 있어 엔터프라이즈 전체의 업무 프로세스 처리 및 그에 따른 대용량 실행이력 정보들을 확보할 수 있게 됨에 따라, 최근 관심이 증폭되고 있는 빅데이터의 개념을 융합하여 ‘비피엠기반 엔터프라이즈 빅데이터’라는 새로운 유형의 빅데이터를 생성
            </li>
            <li>비피엠기반 엔터프라이즈 빅데이터로부터 발견할 수 있는 인간중심의 지식, 즉 업무행위관계 지식, 자원배분관계 지식, 정보확산관계 지식을 표현함으로써, 과거 프로세스 모델의 제어흐름 관점에서 연구하던 것을 벗어나 비피엠기반 엔터프라이즈 소셜네트워크 개념의 관점에서 연구</li>
            <li>해당 연구를 바탕으로 조직 내의 인적 관계지식을 마이닝/제어/관리/예측할 수 있는 엔터프라이즈 자원관리 의사결정 시스템에 적용되어 인적자원의 효율적인 웅영과 관리를 기대</li>
          </ul>
        </p>
            <li>[연구 내용]</li>
        <p>
          프로세스 발견 프로세스 실행이력 빅데이터의 시계열 빅로그 전처리를 전처리하고 이로부터 정보제어넷 기반 프로세스 모델을 마이닝을 통해 발견함으로써, 업무 프로세스 모델의 라이프사이클 관리를 위한 재설계/리엔지니어링과 자원할당에 대한 재계획/재배치에 활용 IEEE에서 발표한 이벤트 스트림 로그 국제표준포맷인 XES(XML Event Stream)기반의 시계열 실행 이벤트 로그 빅데이터세트로부터 순차적, 선택적, 병렬적, 반복적 유형의 제어흐름과 그에 따른 각 액티비티의 실행에 적용된 다양한 자원속성 마이닝
        </p>
      </ul>
      </div>
    </div>
    <div class="content-2">
      <div class="content-img">
        <img class="content-img" src="{% static 'indexpage/img/base_on_bpm_Image3.png' %}" alt=""/>

        <img class="content-img" src={% static 'indexpage/img/base_on_bpm_Image4.png' %} alt=""/>
      </div>
     <div class="content-des">
      <ul>
        <li>[연구 목표]</li>
        <p>
          프로세스 라이프사이클 유지보수에 있어서 선제적으로 대처하는 프로엑티브 프로세스 관리 에코시스템을 구현하고자 빅데이터 마이닝 기반의 프로세스 발견 기술과 딥러닝 기반의 프로세스 예측 기술을 융합한 차세대 비즈니스 인텔리전스(BI: Business Intelligence)기술 개발하여 ‘프로엑티브 비피엠기반 엔터프라이즈’라는 새로운 기업정보시스템의 발전 모델 구축
        </p>
        <li>[연구 목적]</li>
        <p>
          많은 기업과 조직들이 프로세스기반 정보시스템(PAIS, Process-aware infromation system)의 중요성과 필요성을 인식하면서 워크플로우 및 비즈니스 프로세스 관리 시스템을 핵심기술로 하는 프로세스기반 정보시스템이 급속히 증가하고 있으며, 이와 함께 엔터프라이즈 전체의 업무 프로세스 처리 및 그에 따른 초대용량의 이력정보를 확보할 수 있게 되면서 프로세스 분석의 중요성이 대두됨 과거 연구가 엔터프라이즈 정보시스템의 실행이력으로 구성되는 이벤트로그 빅데이터로부터 마이닝 기술을 통해 과거의 프로세스기반 협업행위를 발견하는 것에서 발전하여, 본 연구에서는 최근 관심이 증폭되고 있는 딥러닝 기술을 통해 미래의 프로세스 예측 모델을 제공함으로써 업무프로세스 뿐만아니라 업무수행자 줌심의 업무행위관계, 자원배분관계, 정보확산관계 지식을 선제적으로 예측 발견하여, 프로세스 모델의 라이프사이클 유지관리와 자원할당 리엔지니어링 분야에 있어서 신기술에 장을 열고자 함
        </p>

            <li>[연구 내용]</li>
        <p>
          프로세스 발견 프로세스 실행이력 빅데이터의 시계열 빅로그 전처리를 전처리하고 이로부터 정보제어넷 기반 프로세스 모델을 마이닝을 통해 발견함으로써, 업무 프로세스 모델의 라이프사이클 관리를 위한 재설계/리엔지니어링과 자원할당에 대한 재계획/재배치에 활용 IEEE에서 발표한 이벤트 스트림 로그 국제표준포맷인 XES(XML Event Stream)기반의 시계열 실행 이벤트 로그 빅데이터세트로부터 순차적, 선택적, 병렬적, 반복적 유형의 제어흐름과 그에 따른 각 액티비티의 실행에 적용된 다양한 자원속성 마이닝
        </p>
      </ul>
    </div>
  </div>
{% endblock content %}