{% extends './base.html' %}
{% load static %}
<!-- Testimonial Start -->
{% block content %}
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
        <p class="d-inline-block bg-secondary text-primary py-1 px-4">
          Pubilcation
        </p>
        <h1 class="text-uppercase">Recent Publications</h1>
        <h1 class="text-uppercase">2022</h1>
      </div>
      <div class="border-custom mb-sm-5 owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
        {% for obj in data_2022.Publications.all %}
          <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='{{obj.image.url}}' alt=''>">
            <h4 class="text-uppercase">{{obj.title}}</h4>
            <p class="text-white">{{obj.where_to_find}}</p>
            <a href={{obj.link} }="}">
              <span class="fs-5">{{obj.link}}</span>
            </a>
            <p>
              {% for obj_ in obj.Members.all %}
                <span class="fs-5">{{obj_}}</span>
              {% endfor %}
            </p>
          </div>
        {% endfor %}
      </div>
      <div class="text-center mx-auto mb-sm-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
        <h1 class="text-uppercase">2021</h1>
      </div>
      <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
        {% for obj in data_2021.Publications.all %}
          <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='{{obj.image.url}}' alt=''>">
            <h4 class="text-uppercase">{{obj.title}}</h4>
            <p class="text-white">{{obj.where_to_find}}</p>
            <a href={{obj.link} }="}">
              <span class="fs-5">{{obj.link}}</span>
            </a>
            <p>
              {% for obj_ in obj.Members.all %}
                <span class="fs-5">{{obj_}}</span>
              {% endfor %}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Testimonial End -->
{% endblock content %}
